<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DynamicData" version="6.9.1.2588" targetFramework="net461" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net45" />
  <package id="ReactiveUI" version="9.16.9" targetFramework="net461" />
  <package id="ReactiveUI.WinForms" version="9.16.9" targetFramework="net461" />
  <package id="Splat" version="7.2.1" targetFramework="net461" />
  <package id="System.Drawing.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Reactive" version="4.1.5" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net45" requireReinstallation="true" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.2" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
</packages>